/* ABOUT US */

.about-bg {
	background-color: var(--secondry);
	padding-top: 80px;
	padding-bottom: 80px;
	max-height: 100%;
	margin: 0 auto;
}

.about {
	max-width: 1000px;
}

.about h2 {
	text-align: center;
	margin-bottom: 30px;
}

.about-conteudo {
	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 30px;
}

.about-conteudo p {
	width: 70ch;
}

.ability p {
	width: 30ch;
}

.design h3,
.development h3 {
	position: relative;
}

.design h3::before,
.development h3::before {
	content: "";
	display: inline-block;
	position: absolute;
	border-radius: 4px;
	background: var(--color-button);
	width: 5px;
	height: 15px;
	left: -10px;
	top: 4px;
}

@media (max-width: 1000) {
    .about-conteudo {
        display: grid;
        grid-template-columns: 1fr;
    } 
}