* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

:root {
	--color-bg: #121416;
	--color-bg-light: #e9ecef;

	--color-1: #ff6464;
	--color-p: #F7F7FF;
	--color-p-dark: #212529;

	--Title: "Heebo", sans-serif;
	--paragraph: "JetBrains Mono", monospace;
}

a {
	text-decoration: none;
}
.btn { 
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.8rem 1rem;
    background: var(--color-1);
    border-radius: 4px;
    transition: all 0.1s;
    color: #fff;
}

.btn:hover {
    background: #ff4e4e;
}

.icon img {
	width: 24px;
	height: 42px;
}

.mytechs li {
	width: 64px;
	height: 64px;
}

.active {
	color: var(--color-1);
}

.section {
    min-height: 100vh;
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
	z-index: 0;
	opacity: 1;
	padding: 0 30px;
}

.container {
    max-width: 1100px;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gallery img {
	width: 400px;
	border-radius: 4px;
}

@media (max-width: 1600px) {
    .gallery img {
        width: 300px;
    }
}


@media (max-width: 1000px) {
	.container {
		max-width: 900px;
	}
	.section {
		left: 200px;
	}
}