.languege-bg {
	margin: 100px auto;
	width: 1000px;
}

.languege {
	text-align: center;
}

.languege h2 {
	text-align: left;
	margin-bottom: 40px;
}

.languege span {
	display: inline-block;
	font-family: var(--Title);
	font-weight: bold;
	padding: 10px 20px;
	margin-bottom: 40px;
	border: solid var(--dark);
}

.myLanguege {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

.languege h2 {
	text-align: center;
}

.myLanguege img {
	margin-top: 40px;
}