.aside {
	width: 300px;
	background: var(--color-bg);
	position: fixed;
	padding: 30px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.aside h2 {
	margin-bottom: 3rem;
	font-size: 36px;
}

.aside li {
	margin-bottom: 1rem;
}

.aside h2 {
	font-family: "Major Mono Display", monospace;
    letter-spacing: -1px;
}

